.center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #020617;
  padding: 24px;
  border-radius: 16px;
  width: 100%;
  max-width: 320px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 16px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
}

.login-box button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
}

.login-box button.secondary {
  background: #334155;
  color: white;
}

#msg {
  margin-top: 10px;
  font-size: 14px;
}
